@model IArtistDto
@{
    ViewData["Title"] = "Index";
}

<h2>Delete</h2>

<form method="delete" asp-action="DeleteAsync" asp-controller="Delete">
    <dl>
        <dt>@Html.LabelFor(m => m.ArtistID)</dt>
        <dd>@Html.DisplayFor(m => m.ArtistID)</dd>
        <dt>@Html.LabelFor(m => m.ArtistName)</dt>
        <dd>@Html.DisplayFor(m => m.ArtistName)</dd>
    </dl>
    <input type="submit" class="btn btn-default" value="Delete" name="btnDelete" />
    <input type="submit" class="btn btn-default" value="DeleteAsync" name="btnDelete" />

</form>
<div>
    <a href="/Home/Index" class="btn btn-default">Back</a>
</div>
