@model IArtistDto
@{
    ViewData["Title"] = "GetFirstOrDefault";
}

<h2>GetFirstOrDefault</h2>
<form>
    <dl>
        <dt>@Html.LabelFor(m => m.ArtistID)</dt>
        <dd>@Html.DisplayFor(m => m.ArtistID)</dd>
        <dt>@Html.LabelFor(m => m.ArtistName)</dt>
        <dd>@Html.DisplayFor(m => m.ArtistName)</dd>        
    </dl>
</form>
<div>
    <a href="/Home/Index" class="btn btn-default">Back</a>
</div>

