@model IEnumerable<IArtistDto>

@{
    ViewData["Title"] = "GetListAsync";
}

<h2>GetListAsync</h2>

<div>
    <div>
        <a href="/Home/Index" class="btn btn-default">Back</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Album ID
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var artist in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(m => artist.ArtistID)
                    </td>
                    <td>
                        @Html.DisplayFor(m => artist.ArtistName)
                    </td>                   
                </tr>
            }

        </tbody>
    </table>
</div>

