@model IArtistDto
@{
    ViewData["Title"] = "GetOverride";
}

<h2>GetOverride</h2>

<form>
    <dl>
        <dt>@Html.LabelFor(m => m.ArtistID)</dt>
        <dd>@Html.DisplayFor(m => m.ArtistName)</dd>        
    </dl>
</form>
<div>
    <a href="/Home/Index" class="btn btn-default">Back</a>
</div>
