@model  IArtistDto
@{
    ViewData["Title"] = "Index";
}

<h2>Update</h2>

<form method="put" asp-action="UpdateAsync" asp-controller="Update">
    <dl>
        <dt>@Html.LabelFor(m => m.ArtistName)</dt>
        <dd>@Html.TextBoxFor(m => m.ArtistName)</dd>        
    </dl>
    <input type="submit" class="btn btn-default" value="Update" name="btnUpdate" />
    <input type="submit" class="btn btn-default" value="UpdateAsync" name="btnUpdate" />

</form>
<div>
    <a href="/Home/Index" class="btn btn-default">Back</a>
</div>

