@model ArtistDto
@{
    ViewData["Title"] = "Insert";
}

<h2>Insert</h2>

<form method="post" asp-action="InsertAsync" asp-controller="Insert">
    <dl>
        <dt>@Html.LabelFor(m => m.ArtistName)</dt>
        <dd>@Html.TextBoxFor(m => m.ArtistName)</dd>        
    </dl>
    <input type="submit" class="btn btn-default" value="Insert" name="btnInsert" />
    <input type="submit" class="btn btn-default" value="InsertAsync" name="btnInsert" />

</form>
<div>
    <a href="/Home/Index" class="btn btn-default">Back</a>
</div>

